@media(max-width:992px){

  .hero h1{
    font-size:65px;
  }

  .about-preview{
    grid-template-columns:1fr;
  }

}

@media(max-width:768px){

  .nav-links{
    display:none;
  }

  .menu-toggle{
    display:block;
  }

  .hero h1{
    font-size:50px;
  }

  .section-title h2{
    font-size:38px;
  }

  .gallery-grid{
    grid-template-columns:1fr;
  }

  .about-content h2{
    font-size:40px;
  }

}

@media(max-width:500px){

  .hero h1{
    font-size:42px;
  }

  .hero-button{
    padding:12px 25px;
  }

}
